---
layout: default
title: DMB - Do My Best
cover: 'assets/images/default/main_theme.jpg'
class: 'home-template'
navigation: True
logo: 'assets/images/default/DMB_logo.png'
current: home
---
<!-- < default -->
<!-- The tag above means - insert everything in this file into the [body] of the default.hbs template -->

<div class="flex-container">
    {% include header.html %}
    <div class="content wrapper">
        {% include search.html %}
    </div>
</div>

<!-- The main content area on the homepage -->
<main id="content" class="content" role="main">

    <!-- The tag below includes the post loop - partials/loop.hbs -->
    {% include loop.html %}

</main>
