<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        <li class="nav-home {% if page.current == 'home' %} nav-current{% endif %}" role="presentation"><a href="{{ site.url }}">Home</a></li>
        <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"><a href="{{ site.url }}/about">About</a></li>
        <li class="nav-IT {% if page.url contains 'IT' %} nav-current{% endif %}" role="presentation"><a href="{{ site.url }}/tag/IT">IT</a></li>
        <li class="nav-JavaScript {% if page.url contains 'JavaScript' %} nav-current{% endif %}" role="presentation"><a href="{{ site.url }}/tag/JavaScript">JavaScript</a></li>
        <li class="nav-Python {% if page.url contains 'Python' %} nav-current{% endif %}" role="presentation"><a href="{{ site.url }}/tag/Python">Python</a></li>
        <li class="nav-Java {% if page.url contains 'Java' %} nav-current{% endif %}" role="presentation"><a href="{{ site.url }}/tag/Java">Java</a></li>
        <li class="nav-Github {% if page.url contains 'Github' %} nav-current{% endif %}" role="presentation"><a href="{{ site.url }}/tag/Github">Github</a></li>
        <li class="nav-Algorithm {% if page.url contains 'Algorithm' %} nav-current{% endif %}" role="presentation"><a href="{{ site.url }}/tag/Algorithm">Algorithm</a></li>
        <li class="nav-Linux {% if page.url contains 'Linux' %} nav-current{% endif %}" role="presentation"><a href="{{ site.url }}/tag/Linux">Linux</a></li>
        <li class="nav-Window {% if page.url contains 'Window' %} nav-current{% endif %}" role="presentation"><a href="{{ site.url }}/tag/Window">Window</a></li>
        <li class="nav-Jiho {% if page.url contains 'Jiho' %} nav-current{% endif %}" role="presentation"><a href="{{ site.url }}/author/Jiho">JIHO</a></li>
        
        
    </ul>
    <a class="subscribe-button icon-feed" href="{{ site.url }}/feed.xml">Subscribe</a>
</div>
<span class="nav-cover"></span>
